<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <link rel="stylesheet" href="/css_f/style.css" />
    <link rel="stylesheet" href="/css_f/form.css" />
    {% block head %}{% endblock %}
    <title>{% block title %}{% endblock %} | Carpooling</title>
</head>

<body>
    {% block top-message %}{% endblock %}    
    <div id="content">
        {% block content %}There is nothing to display here{% endblock %}
    </div>
    <br/>
    <div id="footer">
        {% block footer %}
        <hr>
        <p>Carpool website - copyright 2010</p>
        {% endblock %}
    </div>
</body>
</html>
