{% extends "message.html" %}

{% load adminmedia %}

{% block title %}Evaluation{% endblock %}


{% block message %}
Evaluation for a ride
{% endblock %}

{% block content %}
<div style="width:70%; margin:auto;">

    {% if notification.content %}
        {% if notification.success %}
            <span style="color:green;">
        {% else %}
            <span style="color:red;">
        {% endif %}
        
        {{ notification.content }}
        </span>
        <br/><br/>
    {% endif %}

<b>Evaluation for </b> {{ user_to.user.first_name }} {{ user_to.user.last_name }}<br/>
<b>Date of the ride:</b> {{ evaluation.ride_time }}<br/><br/><br/>

Please fill the form below
<br/>
<br />
<form action="/addevaluation/{{ offset }}/" method="post">
    <div class="aligned">
                
        <div class="form-row">
            {{ form.rating.errors }}
            <span class="required">
                {{ form.rating.label_tag }}
            </span>
            {{ form.rating }}
        </div>
        <div class="form-row">
            {{ form.content.errors }}
            {{ form.content.label_tag }}
            {{ form.content }}
        </div>
        <span style="font-style:italic; font-size:11px;">Mandatory fields are in bold</span><br/>
        <div class="submit-row">
            <label>
                <input type="submit" value="Record" />
            </label>
        </div>
    </div>
</form>
<br />
</div>
{% endblock %}
