{% extends "message.html" %}

{% block title %}Home{% endblock %}

{% block message %}
{% if current_date %}
    It is now {{ current_date }}.<br/>
{% endif %}
{% endblock %}

{% block content %}
{{ notification }}
<div style="width:70%; margin:auto;">
    <div class="txt_center">
{% if request.user.is_authenticated %}
    Hello {{ request.user.first_name }}!
    <br/><br/>
<div class="colmask threecol">
	<div class="colmid">
		<div class="colleft">
			<div class="col1">
            <a href="/offers/">My offers</a><br/><br/>
            <a href="/rides/">My rides</a>
			</div>
			<div class="col2">
            <a href="/profile/">My profile</a><br/><br/>
            <a href="/password/">Change password</a>
			</div>
			<div class="col3">
            <a href="/requests/">My requests</a><br/>
            <a href="/addrequest/">Add a request</a><br/><br/>
            <a href="/proposals/">My proposal</a><br/>
            <a href="/addproposal/">Add an porposal</a><br/>
            </div>
		</div>
	</div>
</div>
    <br/><br/>
    </div>
{% else %}
    Welcome to our website stranger.<br/>
    To continue you need to log in.
    </div>
    <br/>
    <br/>

    <div class="aligned">
        <form action="/home/" method="post">
            {% for notif in notifications %}
                {% if notif.error %}
                <span style="color: red;">
                {% else %}
                <span style="color: dark-green;">
                {% endif %}
                {{ notif.content|escape }}
                </span><br/>
            {% endfor %}
            {% for error in form.password.errors %}
                <span style="color: red;">{{ error }}</span><br/>
            {% endfor %}
            <div class="form-row">
            {{ form.login.label_tag }}
            {{ form.login }}<br/>

            {{ form.password.label_tag }}
            {{ form.password }}<br/>
            </div>
            <div class="submit-row">
                <label>
                <input type="submit" value="Connect" />
                </label><br/>
                <a href="/register/">-register-</a>
            </div>
        </form>
    </div>

    <br />
{% endif %}
<div>
{% endblock %}
