{% extends "message.html" %}

{% load adminmedia %}

{% block head %}
<link rel="stylesheet" href="/css_f/form.css" />
{% endblock %}

{% block title %}{{ action }}{% endblock %}


{% block message %}
{% if action == "Register" %}
    Registration
{% else %}
    {% if action == "Edit" %}
        Edit profile
    {% endif %}
{% endif %}
{% endblock %}

{% block content %}
<div style="width:70%; margin:auto;">
Please fill the form below
<br/>
<br />

<form action="/password/" method="post">

    <div class="aligned">
        <div class="text-center">
        {{ notif }}
        </div>
        
        <div class="form-row">
           {{ form.old_password.errors }}
            <span class="required">
                {{ form.old_password.label_tag }}
            </span>
            {{ form.old_password }}
        </div>
        <div class="form-row">
           {{ form.new_password.errors }}
            <span class="required">
                {{ form.new_password.label_tag }}
            </span>
            {{ form.new_password }}
        </div>
        <div class="form-row">
           {{ form.new_password2.errors }}
            <span class="required">
                {{ form.new_password2.label_tag }}
            </span>
            {{ form.new_password2 }}
        </div>
        <div class="submit-row">
            <label>
            <input type="submit" value="Register" />
            </label>
        </div>
    </div>
</form>
<br />
</div>
{% endblock %}
